@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-background: 238 230 219;
    --color-foreground-300: 167 161 154;
    --color-foreground-800: 51 51 51;
    --color-foreground: 35 35 35;
    --color-link: 35 70 200;
  }
  body {
    @apply text-foreground bg-background;

    &:has(a:hover) {
      .dot-shape {
        --scale: 1.5 !important;
      }
    }
  }

  hr {
    border-color: theme("colors.foreground.300");
  }
}

@layer utilities {
  .text-title {
    @apply font-display text-foreground-800 tracking-wider;
    font-variation-settings: "wght" 663;
  }

  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .container {
    @apply max-w-screen-lg px-8 mx-auto;
    &.no-padding {
      @apply px-0;
    }
  }

  .prose-container {
    @apply max-w-screen-sm mx-auto;
  }

  .prose {
    & :where(a):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
      @apply text-link no-underline;
    }

    h2 {
      @apply mb-9 text-scale-5xl/8xl tracking-tighter font-normal text-[#484D2A]
      font-serif leading-none text-center;
    }

    h3 {
      @apply text-scale-2xl/3xl font-serif text-foreground-800;
    }
  }
}

.react-tweet-theme {
  --tweet-header-line-height: 1.4 !important;
  --tweet-header-font-size: 14px !important;
  --tweet-body-font-size: 14px !important;
  --tweet-body-line-height: 1.1 !important;
  img {
    @apply !m-0;
  }
}
